.detail{
  
  width: 80%;
  &__img{
    max-width: 900px;
    margin: 0 auto;
  }
  &__description{
    &__name, &__price{
      font-size: 36px;
    }
    &__body{
      font-size: 24px;
      margin-bottom: 50px;
    }
  }
  &__cart{
    justify-content: flex-start;
  }

  &__colors{
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}


.color{
  margin: 0 20px;
  width: 60px;
  height: 60px;
}