.main-title {
  font-size: 48px;
  margin: 100px 0;
}

.header {
  &__logo {
    font-size: 40px;
    margin-left: 50px;
    width: 300px;
  }
  &__inner {
    width: 300px;
  }
  &__nav {
    display: flex;
  }

  & .toggle {
    display: none;
  }

  &__menu {
    width: 100%;
    background-color: transparent;
    margin: 0 10px;
    transform: translateX(0);
    transition: none;
  }

  &__list {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__list,
  &__item,
  > a {
    padding: 0 1em;
    font-size: 24px;
  }

  &__list,
  &__item,
  > a:hover {
    background-color: transparent;
  }
}

.hero {
  position: relative;
  height: 100vh;
  &__title {
    font-size: 52px;
    top: 18%;
  }
  &__img {
    height: 100%;
  }
  &__cards {
    width: 100%;
    display: block;
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__item {
      border: 4px solid rgb(255, 1, 0);
      width: 25%;
      background-color: white;
      opacity: 0.85;
    }
    &__img {
      width: auto;
      height: 150px;
      margin: 0 auto;
      text-align: center;
      > img {
        max-height: 100%;
      }
    }
  }
  &__btn {
    width: 150px;
    height: 30px;
    background-color: $cDarkGray;
    color: white;
    border: none;
    border-bottom: 2px solid black;
    &:hover {
      border: none;
      transform: translateY(2px);
    }
  }
  & .cards__container {
    padding: 15px;
    text-align: center;
    .type {
      font-size: 24px;
    }
  }
}

.motorcycle {
  &__items {
    width: 28%;
  }
  &__name {
    font-size: 22px;
  }
}

.location {
  &__container {
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
  &__img {
    width: 45%;
  }
  &__content {
    width: 45%;
    display: flex;
    flex-direction: column;
    .btn {
      margin: 0 auto;
    }
  }
  &__description {
    font-size: 24px;
  }
}

.blog {
  &__container {
    justify-content: space-around;
  }
  .card {
    width: 28%;
  }
}

.footer {
  &__ul {
    flex-direction: row;
  }
  &__li {
    margin-left: 48px;
    margin-right: 48px;
  }
}
