$cWhite: white;
$cSubtitle: #535353;
$cBlack: black;
$cBgGray: #eaebe6;
$contentMaxWidth: 1070px;
$cWineRed: #8f4567;
$navHeight: 100px;
$cBlue: #6EA4F3;

$bgBlack:#222323;
$cDarkGray:#4c4e4e;
$cRed: #FF0100;
